.navbar-default .navbar-brand {
  font-size: 24px;
  font-family: "微软雅黑";
  height: 50px;
  line-height: 25px;
}
.navbar-default .navbar-nav > li > a {
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  line-height: 25px;
}
.navbar-toggle {
  margin-top: 18px;
}
.progress {
  margin-bottom: 15px;
}
.wh64 {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.form-group .btn-default {
  margin-top: 15px;
}
.page-header {
  margin-top: 0;
}
.page-header h1 {
  margin: 0;
  font-size: 16px;
}
.mar {
  margin-top: 15px;
}
.user-search {
  padding: 10px;
  border: 1px solid #ddd;
  border-top: none;
}
.wangq {
  padding-top: 15px;
}
.wangq .alert {
  margin: 0 15px 15px 0;
}
.ljj {
  padding: 0;
}
.footer {
  text-align: center;
  padding: 25px 0;
}
